[Desktop Entry]
Name=Candle
Exec=env QT_QPA_PLATFORM=xcb /usr/bin/candle
Icon=/usr/share/pixmaps/candle.ico
Type=Application
Categories=Electronics;Engineering;
